VATSIM_OAUTH_CLIENT_ID=
VATSIM_OAUTH_CLIENT_SECRET=
VATSIM_OAUTH_REDIRECT_URI_AIRCRAFT=
VATSIM_OAUTH_REDIRECT_URI_ATSU=
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
OTLPS_ENDPOINT=
OTLPS_PORT=4317
OTEL_EXPORTER_OTLP_ENDPOINT=otlp
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=
JWT_SECRET=
JWT_ALGORITHM=
PWDLIB_SALT=
MYSQL_HOST=
MYSQL_PORT=3603
MYSQL_DB=
MYSQL_USER=
MYSQL_PASSWORD=