cryptography==48.0.0
dnspython==2.8.0
fastapi[standard]==0.136.3
locust==2.44.1
loguru==0.7.3
pandas==3.0.3
pydantic==2.13.4
pydantic_settings==2.14.1
python-dotenv==1.2.2
redis[otel]==7.4.1
redis_om==1.1.0
Requests==2.34.2
sqlmodel==0.0.38
sse_starlette>=3.4.4
