[Unit]
Description=OpenObserve
After=network.target

[Service]
Type=simple
User=openobserve
Group=openobserve
Environment="ZO_BASE_URI=/monitoring"
WorkingDirectory=/opt/openobserve
ExecStart=/opt/openobserve/openobserve
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target